<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h3>Hey there, </h3>

<p>An email has been sent out from a contact form: </p>	
<ul>
<li>Name: <%= @message.name %></li>
<li>Email: <%= @message.email %></li>
<li>Message: <%= @message.content %></li>
</ul>

<p>Thank you!</p>
</body>
</html>