<div class="footer">
  <div class="footer-links">
    <a href="http://github.com/maltyeva"><i class="fa fa-github"></i></a>
    <a href="http://instagram.com/maltyeva"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Coded with <i class="fa fa-heart"></i> by @maltyeva. UI components via <a href="http://lewagon.org">Le Wagon</a>
  </div>
</div>