<div class="tabs">
  <a class="tab active" href="#">
    <h3><i class="fa fa-heart-o" aria-hidden="true"></i>
</h3>
    <p>Good Shifu</p>
  </a>
  <a class="tab" href="#">
    <h3><i class="fa fa-meh-o" aria-hidden="true"></i></h3>
    <p>Bad Shifu</p>
  </a>
 
</div>